/*---------------------------------------------*\
  #預設數值 PRESET
\*---------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
  outline: none;
}
address {
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: $eerie-black-1;
  color: $white;
  font-family: $fontFamily-dm_sans;
  font-size: $fontSize-body-4;
  font-weight: $weight-regular;
  line-height: $lineHeight-5;
  overflow: hidden;
  height: 300vh;

  &.loaded {
    overflow: overlay;
  }

  &.nav-active {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $gold-crayola;
}
.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: $white;
  font-family: $fontFamily-forum;
  font-weight: $weight-regular;
  line-height: $lineHeight-2;
}
.display-1 {
  font-size: $fontSize-display-1;
  line-height: $lineHeight-1;
}
.headline-1 {
  font-size: $fontSize-headline-1;
}
.headline-2 {
  font-size: $fontSize-headline-2;
  line-height: $lineHeight-6;
}
.title-1 {
  font-size: $fontSize-title-1;
}
.title-2 {
  font-size: $fontSize-title-2;
}
.title-3 {
  font-size: $fontSize-title-3;
}
.title-4 {
  font-size: $fontSize-title-4;
}
.body-1 {
  font-size: $fontSize-body-1;
  line-height: $lineHeight-6;
}
.body-2 {
  font-size: $fontSize-body-2;
  line-height: $lineHeight-4;
}
.body-3 {
  font-size: $fontSize-body-3;
}
.body-4 {
  font-size: $fontSize-body-4;
}
.label-1 {
  font-size: $fontSize-label-1;
}
.label-2 {
  font-size: $fontSize-label-2;
}

/*---------------------------------------------*\
  #預載頁面 PRELOAD
\*---------------------------------------------*/
.preload {
  position: fixed;
  inset: 0;
  background-color: $gold-crayola;
  z-index: 10;
  display: grid;
  place-content: center;
  justify-content: center;
  transition: $transition-2;

  & > * {
    transition: $transition-1;
  }

  &.loaded > * {
    opacity: 0;
  }

  &.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }

  .text {
    transform: translateY(30px);
    background-image: $loading-text-gradient;
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: $weight-bold;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px $eerie-black-3;
    animation: loadingText linear 2s infinite;
  }
}
.circle {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -56px;
  margin-left: -56px;
  width: 112px;
  height: 112px;
  border-radius: $radius-circle;
  border: 3px solid $white;
  border-block-start-color: $smoky-black-3;
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

/*---------------------------------------------*\
  #TOPBAR
\*---------------------------------------------*/
.topbar {
  display: none;
}

/*---------------------------------------------*\
  #HEADER
\*---------------------------------------------*/
.container {
  padding-inline: 16px;
}
.separator {
  width: 8px;
  height: 8px;
  border: 1px solid $gold-crayola;
  transform: rotate(45deg);
}
.contact-label {
  font-weight: $weight-bold;
}
.contact-number {
  color: $gold-crayola;
  max-width: max-content;
  margin-inline: auto;

  &::after {
    bottom: -5px;
  }
}
.text-center {
  text-align: center;
}
.hover-underline {
  position: relative;
  max-width: max-content;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid $gold-crayola;
    transform: scaleX(0.2);
    opacity: 0;
    transition: $transition-2;
  }

  &:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
.header .btn {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: $transition-1;

  &.active {
    padding-block: 20px;
    background-color: $eerie-black-4;
    border-color: $black-alpha-15;
  }
  &.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
  }

  .container {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
.nav-open-btn {
  padding: 12px;
  padding-inline-end: 0;

  .line {
    width: 30px;
    height: 2px;
    background-color: $white;
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 400ms ease-in-out alternate infinite;
  }

  .line-2 {
    animation-delay: 150ms;
  }
  .line-3 {
    animation-delay: 300ms;
  }
}
.navbar {
  position: fixed;
  background-color: $smoky-black-1;
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: $transition-2;

  &.active {
    visibility: visible;
    transform: translateX(360px);
  }

  .close-btn {
    color: $white;
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: $radius-circle;
    margin-inline-start: auto;
    margin-block: 30px 20px;

    ion-icon {
      --ionicon-stroke-width: 40px;
    }

    &:is(:hover, :focus-visible) {
      color: $gold-crayola;
    }
  }

  .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 60px;
  }

  .body-4 {
    color: $quick-silver;
  }

  .text-center .separator {
    margin-block: 30px;
    margin-inline: auto;
  }

  .contact-label {
    margin-block-end: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white-alpha-10;
  }
}
.navbar-list {
  border-block-end: 1px solid $white-alpha-20;
  margin-block-end: 100px;
}
.navbar-item {
  border-block-start: 1px solid $white-alpha-20;
  list-style-type: none;
}
.navbar-link {
  position: relative;
  font-size: $fontSize-label-2;
  text-transform: uppercase;
  padding-block: 10px;
  max-width: unset;

  &::after {
    display: none;
  }

  .span {
    transition: $transition-1;
  }

  &:is(:hover, :focus-visible, .active) .span {
    color: $gold-crayola;
    transform: translateX(20px);
  }

  .separator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transform: $transition-1;
  }

  &:is(:hover, :focus-visible, .active) .separator {
    opacity: 1;
  }
}
.navbar-title {
  margin-block-end: 15px;
}
.navbar-text {
  margin-block: 10px;
}
.sidebar-link {
  transition: $transition-1;

  &:is(:hover, :focus-visible) {
    color: $gold-crayola;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: $black-alpha-80;
  opacity: 0;
  pointer-events: none;
  transition: $transition-2;
  z-index: 1;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
