<footer class="footer section has-bg-image text-center" style="background-image: url(./img//footer-bg.jpg);">
  <div class="container">

    <div class="footer-top grid-list">

      <div class="footer-brand has-before has-after">

        <a href="#" class="logo">
          <img src="../img/logo.svg" width="160" height="50" alt="Nains home" loading="lazy">
        </a>

        <address class="body-4">
          Restaurant St, Delicious City, London 9578, UK
        </address>

        <a href="mailto:jason20226@gmail.com" class="body-4 contact-link">jason20226@gmail.com</a>

        <a href="tel:+88623274888" class="body-4 contact-link">Booking Request : +886-232-74888</a>

        <p class="body-4">Open : 09:00 am - 01:00 pm</p>

        <div class="wrapper">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>

        <p class="title-1">Get News & Offers</p>

        <p class="label-1">
          Subscribe us & Get <span class="span">25% Off.</span>
        </p>

        <form action="" class="input-wrapper">
          <div class="icon-wrapper">
            <ion-icon name="mail-outline"></ion-icon>

            <input type="email" name="email_address" placeholder="jason20226@gmail.com" class="input-field">
          </div>

          <button type="submit" class="btn btn-secondary">
            <span class="text text-1">Subscribe</span>
            <span class="text text-2">Subscribe</span>
          </button>
        </form>

      </div>

      <ul class="footer-list">
        <li>
          <a href="" class="label-2 footer-link hover-underline">Home</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Menus</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">About Us</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Our Chefs</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Contact</a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <a href="" class="label-2 footer-link hover-underline">Facebook</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Instagram</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Twitter</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Youtube</a>
        </li>
        <li>
          <a href="" class="label-2 footer-link hover-underline">Google Map</a>
        </li>
      </ul>

    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2022 Grilli. All Rights Reserved | Crafted by
        <a href="https://github.com/codewithsadee" target="_blank" class="link">codewithsadee</a>
      </p>
    </div>

  </div>
</footer>