/*---------------------------------------------*\
  #預設數值 PRESET
\*---------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
  outline: none;
}
address {
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: $eerie-black-1;
  color: $white;
  font-family: $fontFamily-dm_sans;
  font-size: $fontSize-body-4;
  font-weight: $weight-regular;
  line-height: $lineHeight-5;
  overflow: hidden;
  height: 300vh;

  &.loaded {
    overflow: overlay;
  }

  &.nav-active {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $gold-crayola;
}
.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: $white;
  font-family: $fontFamily-forum;
  font-weight: $weight-regular;
  line-height: $lineHeight-2;
}
.display-1 {
  font-size: $fontSize-display-1;
  line-height: $lineHeight-1;
}
.headline-1 {
  font-size: $fontSize-headline-1;
}
.headline-2 {
  font-size: $fontSize-headline-2;
  line-height: $lineHeight-6;
}
.title-1 {
  font-size: $fontSize-title-1;
}
.title-2 {
  font-size: $fontSize-title-2;
}
.title-3 {
  font-size: $fontSize-title-3;
}
.title-4 {
  font-size: $fontSize-title-4;
}
.body-1 {
  font-size: $fontSize-body-1;
  line-height: $lineHeight-6;
}
.body-2 {
  font-size: $fontSize-body-2;
  line-height: $lineHeight-4;
}
.body-3 {
  font-size: $fontSize-body-3;
}
.body-4 {
  font-size: $fontSize-body-4;
}
.label-1 {
  font-size: $fontSize-label-1;
}
.label-2 {
  font-size: $fontSize-label-2;
}
.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-subtitle{
  position: relative;
  color: $gold-crayola;
  font-weight: $weight-regular;
  text-transform: uppercase;
  letter-spacing: $letterSpacing-2;
  margin-block-end: 12px;

  &::after{
    content: url("../img/separator.svg");
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
}
.btn{
  position: relative;
  color: $gold-crayola;
  font-size: $fontSize-label-2;
  font-weight: $weight-bold;
  text-transform: uppercase;
  letter-spacing: $letterSpacing-5;
  max-width: max-content;
  border: 2px solid $gold-crayola;
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;

  &::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: $radius-circle;
    background-color: $gold-crayola;
    transition: $transition-2;
    z-index: -1;
  }

  .text{
    transition: $transition-1;
  }

  .text-2{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: $smoky-black-1;
  }

  &:is(:hover, :focus-visible)::before {
    bottom: -50%;
  }

  &:is(:hover, :focus-visible) .text-1{
    transform: translateY(-40px);
  }

  &:is(:hover, :focus-visible) .text-2{
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.btn-secondary{

  &::before{
    background-color: $smoky-black-1;
  }

  .text-2{
    color: $white;
  }
}
.has-before,
.has-after{
  position: relative;
  z-index: 1;

  &::before,
  &::after{
    content: "";
    position: absolute;
  }
}