// | HEADER |
.container {
  padding-inline: 16px;
}
.separator {
  width: 8px;
  height: 8px;
  border: 1px solid $gold-crayola;
  transform: rotate(45deg);
}
.contact-label {
  font-weight: $weight-bold;
}
.contact-number {
  color: $gold-crayola;
  max-width: max-content;
  margin-inline: auto;

  &::after {
    bottom: -5px;
  }
}
.text-center {
  text-align: center;
}
.hover-underline {
  position: relative;
  max-width: max-content;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid $gold-crayola;
    transform: scaleX(0.2);
    opacity: 0;
    transition: $transition-2;
  }

  &:is(:hover, :focus-visible)::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
.header .btn {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 40px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: $transition-1;

  &.active {
    padding-block: 20px;
    background-color: $eerie-black-4;
    border-color: $black-alpha-15;
  }
  &.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
  }

  .container {
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
.nav-open-btn {
  padding: 12px;
  padding-inline-end: 0;

  .line {
    width: 30px;
    height: 2px;
    background-color: $white;
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 400ms ease-in-out alternate infinite;
  }

  .line-2 {
    animation-delay: 150ms;
  }
  .line-3 {
    animation-delay: 300ms;
  }
}
.navbar {
  position: fixed;
  background-color: $smoky-black-1;
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: $transition-2;

  &.active {
    visibility: visible;
    transform: translateX(360px);
  }

  .close-btn {
    color: $white;
    border: 1px solid currentColor;
    padding: 4px;
    border-radius: $radius-circle;
    margin-inline-start: auto;
    margin-block: 30px 20px;

    ion-icon {
      --ionicon-stroke-width: 40px;
    }

    &:is(:hover, :focus-visible) {
      color: $gold-crayola;
    }
  }

  .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 60px;
  }

  .body-4 {
    color: $quick-silver;
  }

  .text-center .separator {
    margin-block: 30px;
    margin-inline: auto;
  }

  .contact-label {
    margin-block-end: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white-alpha-10;
  }
}
.navbar-list {
  border-block-end: 1px solid $white-alpha-20;
  margin-block-end: 100px;
}
.navbar-item {
  border-block-start: 1px solid $white-alpha-20;
}
.navbar-link {
  position: relative;
  font-size: $fontSize-label-2;
  text-transform: uppercase;
  padding-block: 10px;
  max-width: unset;

  &::after {
    display: none;
  }

  .span {
    transition: $transition-1;
  }

  &:is(:hover, :focus-visible, .active) .span {
    color: $gold-crayola;
    transform: translateX(20px);
  }

  .separator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transform: $transition-1;
  }

  &:is(:hover, :focus-visible, .active) .separator {
    opacity: 1;
  }
}
.navbar-title {
  margin-block-end: 15px;
}
.navbar-text {
  margin-block: 10px;
}
.sidebar-link {
  transition: $transition-1;

  &:is(:hover, :focus-visible) {
    color: $gold-crayola;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: $black-alpha-80;
  opacity: 0;
  pointer-events: none;
  transition: $transition-2;
  z-index: 1;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
