<section class="hero text-center" id="home">
  <ul class="hero-slider" #heroSlider>

    <li class="slider-item active">
      <div class="slider-bg">
        <img src="./img/hero-slider-1.jpg" width="1880" height="950" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">Tradational & Hygine</p>
      <h1 class="display-1 hero-title slider-reveal">
        For the love of <br> delicious food
      </h1>
      <p class="body-w hero-text slider-reveal">
        Come with family &feel the joy of mouthwatering foor
      </p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>
        <span class="text text-2">View Our Menu</span>
      </a>
    </li>

    <li class="slider-item">
      <div class="slider-bg">
        <img src="./img/hero-slider-2.jpg" width="1880" height="950" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">delightful experience</p>
      <h1 class="display-1 hero-title slider-reveal">
        Flavors Inspired by <br> the Seasons
      </h1>
      <p class="body-w hero-text slider-reveal">
        Come with family &feel the joy of mouthwatering foor
      </p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>
        <span class="text text-2">View Our Menu</span>
      </a>
    </li>

    <li class="slider-item">
      <div class="slider-bg">
        <img src="./img/hero-slider-3.jpg" width="1880" height="950" class="img-cover">
      </div>
      <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>
      <h1 class="display-1 hero-title slider-reveal">
        Where every flavor <br> tells a story
      </h1>
      <p class="body-w hero-text slider-reveal">
        Come with family &feel the joy of mouthwatering foor
      </p>
      <a href="#" class="btn btn-primary slider-reveal">
        <span class="text text-1">View Our Menu</span>
        <span class="text text-2">View Our Menu</span>
      </a>
    </li>

  </ul>

  <button class="slider-btn prev" (click)='sliderMove(-1)'>
    <ion-icon name="chevron-back"></ion-icon>
  </button>

  <button class="slider-btn next" (click)='sliderMove(1)'>
    <ion-icon name="chevren-forward"></ion-icon>
  </button>

  <a href="#" class="hero-btn has-after">
    <img src="./img/hero-icon.png" width="48" height="48" alt="booking icon">

    <span class="label-2 text-center span">Book A Table</span>
  </a>

</section>