<div class="topbar">
  <div class="container">
    <address class="topbar-item">
      <div class="icon">
        <ion-icon name="location-outline"></ion-icon>
      </div>

      <span class="span">Restaurant St, Delicious City, London 9578, UK</span>
    </address>

    <div class="separator"></div>

    <div class="topbar-item item2">
      <div class="icon">
        <ion-icon class="time-outline"></ion-icon>
      </div>

      <span class="span">Daily : 8.00 am to 10.00 pm</span>
    </div>

    <a href="tel:0423274888" class="topbar-item">
      <div class="icon">
        <ion-icon name="call-outline"></ion-icon>
      </div>

      <span class="span">+886 04 232 74888</span>
    </a>

    <div class="separator"></div>

    <a href="mailto:jason20226@gmail.com" class="topbar-item">
      <div class="icon">
        <ion-icon name="mail-outline"></ion-icon>
      </div>

      <span class="span">jason20226@gmail.com</span>
    </a>

  </div>
</div>