<section class="special-dish text-center">

  <div class="special-dish-banner">
    <img src="./img/special-dish-banner.jpg" width="940" height="900" loading="lazy" alt="special dish"
      class="img-cover">
  </div>

  <div class="special-dish-content bg-black-10">
    <div class="container">
      <img src="./img/badge-1.png" width="28" height="41" loading="lazy" alt="badge" class="abs-img">

      <p class="section-subtitle label-2">Special Dish</p>

      <h2 class="headline-1 section-title">Lobster Tortellini</h2>

      <p class="section-text">
        Build features quickly with simple, declarative templates. Extend the template language with
        your own components and use a wide array of existing components. Get immediate
        Angular-specific help and feedback with nearly every IDE and editor. All this comes together
        so you can focus on building amazing apps rather than trying to make the code work.
      </p>

      <div class="wrapper">
        <del class="del body-3">$40.00</del>
        <span class="span body-1">$20.00</span>
      </div>

      <a href="#" class="btn btn-primary">
        <span class="text text-1">View All Menu</span>
        <span class="text text-2">View All Menu</span>
      </a>
    </div>
  </div>

  <img src="./img/shape-4.png" width="179" height="359" loading="lazy" alt="" class="shape shape-1">

  <img src="./img/shape-9.png" width="351" height="462" loading="lazy" alt="" class="shape shape-2">

</section>