<!-- | 載入中 PRELOAD | -->
<div class="preload" #preaload>
  <div class="circle"></div>
  <p class="text">Nains</p>
</div>

<!-- | TOPBAR | -->
<app-topbar></app-topbar>

<!-- | HEADER | -->
<app-header></app-header>

<main>
  <article>

    <!-- | HOME | -->
    <app-home></app-home>

    <!-- | SERVICE | -->
    <app-service></app-service>

    <!-- | ABOUT | -->
    <app-about></app-about>

    <!-- | SPECIAL DISH | -->
    <app-specialDish></app-specialDish>

    <!-- | MENU | -->
    <app-menu></app-menu>

    <!-- | TESTIMONIALS | -->
    <app-testimonials></app-testimonials>

    <!-- | RESERVATION | -->
    <app-reservation></app-reservation>

    <!-- | FEATURES | -->
    <app-features></app-features>

    <!-- | EVENT | -->
    <app-event></app-event>

  </article>
</main>

<!-- | FOOTER | -->
<app-footer></app-footer>